.gform_interstitial_message{
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 20rem;
}

.gform_interstitial_message_spinner{
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid var(--gform-redirect-spinner-color, #555);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.gform_interstitial_message_text{
  opacity: 0.8;
}

[data-component="core:heading"] + .gform_interstitial_message{
  margin-top: 1.5rem;
}

.gform_interstitial_message ~ [data-component="core:paragraph"] {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}